<div *ngIf="posts.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="find post" [(ngModel)]="searchStr" />
  </div>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | serachPost: searchStr; let idx = index">
        <td>{{ idx + 1 }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.date | date: "medium":null:"ru" }}</td>
        <td class="action">
          <button
            class="btn btn-primary open"
            [routerLink]="['/admin', 'post', post.id, 'edit']"
          >
            View
          </button>
          <a class="btn btn-danger" (click)="remove(post.id)">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
