<div *ngIf="posts$ | async as posts; else loading" class="posts">
  <app-post-page *ngFor="let post of posts" [post]="post"> </app-post-page>
</div>

<ng-template #loading>
  <p class="text-center">loading...</p>
</ng-template>
