<app-alert></app-alert>

<nav class="navbar bg-primary">
  <h1>
    <a routerLink="/">Angular admin</a>
  </h1>

  <ul *ngIf="authService.isAuth()">
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">Dashbord</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'create']">Create</a>
    </li>

    <li>
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
